/* CSS project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

html,
body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
}

/* common code */
.heading-section {
  text-transform: uppercase;
  font-weight: 600;
}
.alert {
  margin: 0;
}

.content-body {
  width: 90%;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}
.main-content {
  width: 1370px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.active {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color);
}

:root {
  --primary-color: #22bab3;
}

body {
  background-color: #f5f5f5;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.mt20 {
  margin-top: 20px;
}
.img {
  object-fit: cover;
  object-position: center;
}
.df-center {
  display: flex;
  align-items: center;
}

.body-content {
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}

/* header navigation */
header {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: sticky;
  padding: 5px;
  top: 0;
  z-index: 10;
}

.header-content {
  justify-content: space-between;
}

.header-logo img {
  width: 70px;
  height: 55px;
}

.navigation li a {
  font-size: 1.6rem;
  display: inline-block;
  padding: 8px 12px;
  font-weight: 500;
  transition: 0.2s linear;
}

.navigation li a:hover {
  text-shadow: 0 0 1px var(--primary-color);
  color: var(--primary-color);
}

.header-action {
  margin: 0 10px;
}

.header-action i {
  font-size: 20px;
}

.header-search {
  border: 1px solid #000;
  border-radius: 9999px;
  overflow: hidden;
  transition: 0.2s linear;
}

.header-search input {
  width: 220px;
  height: 25px;
  outline: none;
  border: none;
  padding: 0 5px;
}

.header-search:focus-within {
  border-color: var(--primary-color);
  box-shadow: rgba(34, 186, 179, 0.5) 0px 1px 4px;
}

.header-search .search-btn {
  background: #fff;
  border: none;
  outline: none;
  padding: 4px;
  border-left: 1px solid #eee;
}

.header-search .search-btn i {
  font-size: 16px;
}

.header-user {
  position: relative;
  display: flex;
  align-items: center;
}

.header-action .name_user {
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.header-user .user-guest {
  font-size: 30px;
}

.header-user:hover .user-cta {
  display: block;
}

.user-cta {
  display: none;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: -50px;
  background-color: #fff;
  width: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.user-cta li a {
  font-size: 1.4rem;
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  transition: 0.2s linear;
}

.user-cta li:hover a {
  color: #fff;
  background-color: var(--primary-color);
}

.header-cart {
  position: relative;
}

.header-cart .quantity {
  position: absolute;
  top: -15px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.quantity p {
  color: #fff;
  margin: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ADMIN */

/* Phần bên phải admin */
.right-section {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-admin-user {
  margin-top: 30px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px 0;
}

.header-user .user-admin {
  font-size: 100px;
}
.admin-name-user {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  margin-top: 15px;
  color: #fff;
}

.admin-navigate {
  padding: 0 0 20px;
}

.admin-navigate li {
  padding-left: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.2s linear;
}

.admin-navigate li:hover {
  background-color: var(--primary-color);
}

.admin-navigate li:hover i {
  color: #fff;
}
.admin-navigate li:hover a,
.admin-navigate li:hover p {
  color: #fff;
  cursor: pointer;
}

.admin-navigate li.active i,
.admin-navigate li.active a {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color);
}

.admin-navigate li i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  transition: 0.2s linear;
}

.admin-navigate li a,
.admin-navigate li p {
  display: inline-block;
  width: 80%;
  padding: 12px 0;
  font-size: 1.4rem;
  margin-left: 10px;
  transition: 0.2s linear;
}

.admin-navigate li button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* ----------------HIỂN THỊ NỌI DUNG TRONG MẢNG ADMIN---------------------------- */

.list_product-heading {
  margin-top: 10px;
  padding: 15px 5px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.title-line {
  border: 2px solid var(--primary-color);
  height: 1px;
  width: 10px;
  border-radius: 1px;
  overflow: hidden;
}

.title-list-product {
  margin-left: 5px;
  font-size: 1.6rem;
  font-weight: 700;
}

.list-product table {
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.list-product th {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  padding: 12px 0;
  background-color: var(--primary-color);
  color: #fff;
}

.list-product td {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle; /* Căn giữa theo chiều dọc */
}

.table-product_name {
  width: 350px;
}

.table-product_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.table-product_desc {
  width: 350px;
}

.list-cta button,
.list-cta a,
.btn-form {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  border-radius: 999px;
  transition: 0.2s linear;
}

.list-cta button:hover,
.list-cta a:hover,
.btn-form:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 999px;
}

.btn-function i,
.btn-function a,
.btn-function {
  font-size: 14px;
  color: #000;
}

/* ------------ GIAO DIỆN CÁC FORM ------------ */
.form-group + .form-group {
  margin-top: 20px;
}
.form-group label {
  font-size: 1.4rem;
}

.form-group input,
.form-group select {
  padding: 8px 8px;
  font-size: 1.4rem;
  margin-top: 5px;
}

.form-group input:focus {
  border-color: var(--primary-color);
}

.form-group ::placeholder {
  font-size: 1.4rem;
}

.form-group p {
  font-size: 1.2rem;
  margin-top: 5px;
  font-weight: 600;
}

/* ------------------- TRANG DASHBOARD ADMIN ---------------- */
.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 15px;
  margin-top: 30px;
}

.dashboard-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 0;
}

.dashboard-item_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.dashboard-item_name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 15px;
}

.dashboard-item_name:hover {
  text-decoration: underline;
}

.dashboard-item_quantity {
  margin-top: 15px;
  font-size: 1.8rem;
}

/* --------------- phần giao diện người dùng- clients ---------------- */
/* phần danh mục trong trang chủ */
.cate-img_item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.cate-img_item img {
  width: 320px;
  height: 448px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.cate-item_content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 0 10px 0 10px;
}

.cate-item_content .name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  padding: 0;
  margin: 0;
}

.cate-img_item .more-info {
  font-size: 1.4rem;
  color: #fff;
}

.cate-img_item .more-info:hover {
  text-decoration: underline;
}

/* phần bộ sưu tập mới */
.new-collection {
  margin-top: 70px;
}

.collection-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.collection-list_item {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px;
  transition: 0.2s linear;
}

.collection-list_item:hover {
  transform: translateY(-5px);
}

.collection-list_item img {
  width: 100%;
}

.collection-list_item-body {
  padding: 10px;
}

.collection-list_item-body .name {
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.collection-list_item-body .price {
  color: red;
  font-size: 1.6rem;
}

.collection-list_item-body .cart {
  width: 180px;
  justify-content: center;
  border: 1px solid var(--primary-color);
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s linear;
}

.collection-list_item-body .cart:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.collection-list_item-body .cart:hover p,
.collection-list_item-body .cart:hover i {
  color: #fff;
}

.collection-list_item-body .cart p {
  font-size: 1.4rem;
  margin: 0;
  transition: 0.2s linear;
  color: var(--primary-color);
}

.collection-list_item-body .cart i {
  font-size: 1.4rem;
  transition: 0.2s linear;
  color: var(--primary-color);
}

.new-collection .btn-more {
  padding: 10px 15px;
  border: 1px solid #000;
  font-size: 1.6rem;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 0.2s linear;
}

.new-collection .btn-more:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* phần luxury */
.luxury {
  margin-top: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.luxury-info {
  padding: 20px;
}

.luxury-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.luxury-list .item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  transition: 0.2s linear;
}

.luxury-list .item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}

.luxury-list .item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.luxury-list .item-body .name {
  width: 195px;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.luxury-list .item-body .price {
  font-size: 1.4rem;
  color: red;
  margin-left: 5px;
}

.img-luxury_main {
  width: 410px;
  height: 490px;
  overflow: hidden;
}

.img-luxury_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s linear;
}

.img-luxury_main img:hover {
  scale: 1.1;
  opacity: 0.8;
}

/* ----------------- phần footer ---------------- */
footer {
  background: #2a2a2a;
  margin-top: 70px;
}
.footer-content {
  padding: 50px 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer-coumn1 {
  width: 400px;
}

.footer-column .title {
  font-size: 1.8rem;
  color: #fff;
}

.desc-g7 {
  color: #fff;
  font-size: 1.4rem;
  text-align: justify;
}

.info-g7 i,
.info-g7 p,
.info-g7 a {
  margin: 0;
  color: #fff;
  font-size: 1.4rem;
}

.info-g7 i {
  width: 14px;
  margin-right: 10px;
}

.footer-column li {
  margin-top: 10px;
}

.footer-column li a {
  color: #fff;
  font-size: 1.4rem;
  display: inline-block;
}

.footer-column li a:hover {
  text-decoration: underline;
}

.social .title {
  font-size: 1.8rem;
  color: #fff;
}

.social-media__logo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
}

.social-cta input {
  font-size: 1.2rem;
}

.btn-footer {
  font-size: 1.2rem;
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}

.btn-footer:hover {
  opacity: 0.8;
}

footer .copy_right {
  background-color: #222;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  color: #fff;
}

/* Phần đăng nhập */
.body-login,
.body-register {
  width: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.body-login h1,
.body-register h1 {
  text-align: center;
  padding: 20px 0;
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: #fff;
}

.form-login {
  padding: 10px 15px 50px;
}

.login-btn,
.register-btn {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  border-radius: 999px;
  transition: 0.2s linear;
}

.forgot-pass {
  font-size: 1.2rem;
  cursor: pointer;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.login-btn:hover,
.register-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

.cta-login {
  font-size: 1.3rem;
}

.cta-login a {
  color: var(--primary-color);
}

.cta-login a:hover {
  text-decoration: underline;
}

/* phần đăng ký */
.body-register {
  width: 700px;
}

.form-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.login-item {
  flex: 1;
}

.register-btn {
  width: 100px;
  margin-left: 100%;
  transform: translateX(-100%);
}

.register-cta p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.register-cta a {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.register-cta a:hover {
  text-decoration: underline;
}

/* Phần giỏ hàng */
.cart-container {
  display: flex;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  gap: 20px;
}

.cart-cart {
  flex: 2;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.cart-cart h2 {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.cart-cart-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart_product-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.cart-product-info {
  flex: 1;
  margin-left: 10px;
}

.cart-product-info p {
  font-size: 1.5rem;
  margin: 0;
}

.cart-product-info .size {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 3px 0;
}

.cart-product-info .name {
  color: #000;
}

.cart-product-info .size {
  color: #777;
}

.cart-price {
  color: red;
  font-weight: 600;
}

.item-cart_cta > p {
  margin-left: auto;
  font-size: 1.2rem;
  border-radius: 999px;
  width: 50px;
  padding: 4px 6px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.cart-quantity {
  display: flex;
  align-items: center;
}

.cart-quantity input {
  width: 26px;
  text-align: center;
  padding: 5px 10px;
  border: none;
  outline: none;
}

.cart-quantity button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.note {
  background-color: #f3f4f4;
  padding: 10px;
}

.note textarea {
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
}

.order-summary {
  padding: 20px;
  background-color: #fff;
}

.order-summary h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.total-price {
  color: #e53935;
  font-size: 20px;
}

.divider {
  border: none;
  border-top: 1px dashed #ccc;
  margin: 15px 0;
}

.promo-notes {
  list-style-type: disc;
  margin: 10px 0 20px 20px;
  font-size: 13px;
  color: #666;
}

.promo-notes li {
  margin-bottom: 5px;
}

.checkout-button {
  text-align: center;
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  opacity: 0.8;
}

/* phần tìm lọc */
.search {
  margin-top: 50px;
}

.search-content {
  display: flex;
  gap: 15px;
}

.filter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0 0 8px 8px;
  height: 350px;
}

.filter form {
  padding: 0 15px 15px;
}

.filter h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  background-color: var(--primary-color);
}

.filter-btn {
  width: 100px;
  padding: 5px;
  border-radius: 999px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: #fff;
  transition: 0.2s linear;
  font-size: 1.4rem;
}

.filter-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.search-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 0 15px;
}

/* DetailProct */
.product-container {
  display: flex;
  gap: 20px;
  max-width: 1170px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.product-image {
  padding: 15px;
  flex: 1;
  width: 600px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-image img {
  width: 100%;
  border-radius: 8px;
}

.product-info {
  flex: 1.5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.product-info h1 {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 20px;
  margin-bottom: 15px;
}

.current-price {
  color: #e63946;
  font-weight: bold;
}

.size-group select {
  width: 120px;
  padding: 6px 10px;
  margin-left: 10px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
}

.quantity-group {
  margin-top: 15px;
}

.quantity-group h2 {
  font-size: 1.4rem;
  margin: 0;
}

.detail-quantity {
  margin-left: 15px;
}

.detail-quantity p {
  font-size: 1.4rem;
  padding: 4px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0;
}

.detail-quantity input {
  text-align: center;
  width: 40px;
  padding: 4px 12px;
  margin: 0;
  border: none;
  outline: none;
}

.endow {
  margin-top: 20px;
}

.endow h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

.list-endow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.list-endow li {
  font-size: 1.2rem;
}

.list-endow li i {
  font-size: 1.4rem;
  margin-right: 5px;
  color: var(--primary-color);
}

.add-to-cart,
.buy-now {
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.short-describe {
  margin-top: 20px;
}

.short-describe p {
  font-size: 1.4rem;
}

.detail-cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.detail-cta button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: #fff;
  font-size: 1.3rem;
  transition: 0.2s linear;
  text-align: center;
}

.detail-cta button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* detail comment */
.comment {
  padding: 20px;
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.comment-body {
  margin: 0 40px;
}

.c-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.c-user i {
  font-size: 40px;
}

.c-user_info p {
  margin: 0;
}

.c-user_info .name {
  font-size: 12px;
}

.c-user_info .time {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.comment-item .c-content {
  margin: 0 50px;
  font-size: 1.4rem;
}

/* comment action */
.comment-action {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.comment-action textarea {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 1.4rem;
  overflow: hidden;
}

.comment-action button {
  border: none;
  outline: none;
  background-color: transparent;
}

.comment-action button i {
  font-size: 18px;
  transform: rotate(45deg);
  color: #535c91;
}

.similar {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
}

/* thông tin đơn hàng */
.content-info {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.shipping-info {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  height: 460px;
}

.shipping-info > h2 {
  font-size: 2.5rem;
}

.info-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-cta a {
  font-size: 1.3rem;
}

.info-btn {
  padding: 8px;
  display: inline-block;
  font-size: 1.3rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: #fff;
  border-radius: 5px;
  transition: 0.2s linear;
}

.info-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

.order-summary > h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.order-summary .quantity-info {
  color: #777;
  font-size: 1.2rem;
  font-weight: 400;
}

.discount {
  display: flex;
  gap: 20px;
}

.discount input {
  width: 540px;
  padding: 10px 4px;
  font-size: 1.2rem;
}

.discount button {
  font-size: 1.4rem;
  padding: 5px 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  background: #fff;
  transition: 0.2s linear;
}

.discount button:hover {
  color: #fff;
  background: var(--primary-color);
}

.summary {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.summary p {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary .total {
  font-weight: bold;
  color: #ff5722;
}

.summary .total span {
  font-size: 2rem;
}

/* Trang phương thức thanh toán */
.delivery-info {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  height: 450px;
}

.shipping-fee {
  padding: 15px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipping-fee p {
  margin: 0;
  font-size: 1.5rem;
}

.form-content {
  padding: 15px;
  border: 1px solid #ddd;
}

.form-content .form-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-content .form-group input {
  margin: 0;
}

.form-content .form-group label {
  font-size: 1.5rem;
  margin: 0;
}

/* trang thông báo thành công */
.finish-content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  padding: 50px;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.mess-title {
  margin-left: 23%;
}

.mess-title i {
  font-size: 40px;
  color: var(--primary-color);
}

.mess-title p {
  font-size: 2.5rem;
  width: 300px;
  margin: 0;
  color: var(--primary-color);
  font-weight: 600;
}

.message-box > p {
  font-size: 1.4rem;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.message-box .actions {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.mess-btn {
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px 14px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: 0.2s linear;
  background: #fff;
}

.mess-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* phần đơn hàng của bạn */
.table-yours th {
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 0;
  font-weight: 600;
}

.table-yours tbody td {
  font-size: 1.4rem;
  text-align: center;
  padding: 5px 0;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.yours-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.yours-item .name {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 300px;
  text-align: left;
}

.badge-primary {
  margin: 0;
  background-color: var(--primary-color);
  border-radius: 999px;
  width: 110px;
  font-size: 1rem;
  font-weight: 400;
}

.yours-actions a,
.yours-actions button {
  font-size: 1.3rem;
}

/* phần chi tiết đơn hàng trong giao diện của người dùng */
.main-your_detail {
  width: 1170px;
}

.yours-detail_content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 30px 50px;
}

.receiver-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.receiver-row .column div {
  padding: 10px 8px;
  font-size: 1.5rem;
  border: 1px solid #ddd;
}

.receiver-row .left-column div {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
  border-bottom-color: #fff;
}

.info-products {
  margin-top: 70px;
}

.info-products table th {
  font-size: 1.6rem;
  padding: 10px 0;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
}

.info-products table td {
  text-align: center;
  font-size: 1.5rem;
}

.info-products table .name {
  width: 330px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  margin: 0 auto;
}

.info-fee {
  margin-top: 70px;
}

.fee-row {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.fee-row .column div {
  padding: 10px 8px;
  font-size: 1.5rem;
  text-align: right;
  border: 1px solid #ddd;
}

/* phần chuyển hướng trong phần đơn hàng của bạn */
.header-yours-orders {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}

.header-yours-orders a {
  display:  inline-block;
  padding: 10px 16px;
  color: #000;
  font-size: 1.5rem;
}
.header-yours-orders a.active {
  background-color: var(--primary-color);
  color: #fff;
}
