/* CSS project */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

html,
body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

/* common code */
.content-body {
  width: 90%;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.active {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color);
}

:root {
  --primary-color: #22bab3;
}

body {
  background-color: #f5f5f5;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.mt20 {
  margin-top: 20px;
}
.img {
  object-fit: cover;
  object-position: center;
}
.df-center {
  display: flex;
  align-items: center;
}

.body-content {
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}

/* header navigation */
header {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: sticky;
  padding: 5px;
  top: 0;
  z-index: 1;
}

.header-content {
  justify-content: space-between;
}

.header-logo img {
  width: 70px;
  height: 55px;
}

.navigation li a {
  font-size: 1.6rem;
  display: inline-block;
  padding: 8px 12px;
  font-weight: 500;
  transition: 0.2s linear;
}

.navigation li a:hover {
  text-shadow: 0 0 1px var(--primary-color);
  color: var(--primary-color);
}

.header-action {
  margin: 0 10px;
}

.header-action i {
  font-size: 20px;
}

.header-search {
  border: 1px solid #000;
  border-radius: 9999px;
  overflow: hidden;
  transition: 0.2s linear;
}

.header-search input {
  width: 220px;
  height: 25px;
  outline: none;
  border: none;
  padding: 0 5px;
}

.header-search:focus-within {
  border-color: var(--primary-color);
  box-shadow: rgba(34, 186, 179, 0.5) 0px 1px 4px;
}

.header-search .search-btn {
  background: #fff;
  border: none;
  outline: none;
  padding: 4px;
  border-left: 1px solid #eee;
}

.header-search .search-btn i {
  font-size: 16px;
}

.header-user .user-guest {
  font-size: 30px;
}

.header-cart {
  position: relative;
}

.quantity {
  position: absolute;
  top: -15px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.quantity p {
  color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/* ADMIN */

/* Phần bên phải admin */
.right-section {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-admin-user {
  margin-top: 30px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px 0;
}

.header-user .user-admin {
  font-size: 100px;
}
.admin-name-user {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  margin-top: 15px;
  color: #fff;
}

.admin-navigate {
  padding: 0 0 20px;
}

.admin-navigate li {
  padding-left: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.2s linear;
}

.admin-navigate li:hover {
  background-color: var(--primary-color);
}

.admin-navigate li:hover i {
  color: #fff;
}
.admin-navigate li:hover a {
  color: #fff;
}

.admin-navigate li.active i,
.admin-navigate li.active a {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color);
}

.admin-navigate li i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  transition: 0.2s linear;
}

.admin-navigate li a {
  display: inline-block;
  width: 80%;
  padding: 12px 0;
  font-size: 1.4rem;
  margin-left: 10px;
  transition: 0.2s linear;
}

/* ----------------HIỂN THỊ NỌI DUNG TRONG MẢNG ADMIN---------------------------- */

.list_product-heading {
  margin-top: 10px;
  padding: 15px 5px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.title-line {
  border: 2px solid var(--primary-color);
  height: 1px;
  width: 10px;
  border-radius: 1px;
  overflow: hidden;
}

.title-list-product {
  margin-left: 5px;
  font-size: 1.6rem;
  font-weight: 700;
}

.list-product table {
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.list-product th {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  padding: 12px 0;
  background-color: var(--primary-color);
  color: #fff;
}

.list-product td {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle; /* Căn giữa theo chiều dọc */
}

.table-product_name {
 width: 350px;
}

.table-product_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.table-product_desc {
  width: 350px;
}

.list-cta button,
.list-cta a,
.btn-form {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  border-radius: 999px;
  transition: 0.2s linear;
}

.list-cta button:hover,
.list-cta a:hover,
.btn-form:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 999px;
}

.btn-function i,
.btn-function a,
.btn-function {
  font-size: 14px;
  color: #000;
}

/* ------------ GIAO DIỆN CÁC FORM ------------ */
.form-group + .form-group {
  margin-top: 20px;
}
.form-group label {
  font-size: 1.4rem;
}

.form-group input,
.form-group select {
  padding: 8px 8px;
  font-size: 1.4rem;
  margin-top: 5px;
}

.form-group input:focus {
  border-color: var(--primary-color);
}

.form-group ::placeholder {
  font-size: 1.4rem;
}

.form-group p {
  font-size: 1.2rem;
  margin-top: 5px;
  font-weight: 600;
}

/* ------------------- TRANG DASHBOARD ADMIN ---------------- */
.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 15px;
  margin-top: 30px;
}

.dashboard-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 0;
}

.dashboard-item_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.dashboard-item_name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 15px;
}

.dashboard-item_name:hover {
  text-decoration: underline;
}

.dashboard-item_quantity {
  margin-top: 15px;
  font-size: 1.8rem;
}
